{% extends "base.html" %}
{% block title %}Cipherleaf Demo{% endblock %}

{% block content %}
<input class="phrase" type="password" id="passphrase" placeholder="Passphrase..."></input>
<div class="notes-wrapper">
  <div class="notes-list" id="cipher-div"></div>
  <textarea name="cipher-note" id="cipher-note" placeholder="Cipherleafs..."></textarea>
  <button class="sub-btn" id="demo-cipher-btn">Cipherleaf</button>
</div>

<script type="module" src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}
