/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
body {
    background-color: #200220;
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

h1, h2, h3 {
    color: #9b59b6;
}

p {
    color: white;
    max-width: 60%;
    margin: auto;
    padding: 0.5rem;
}
table {
    width: 100%;
}
tr, td {
    color: white;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 2px;
}

img {
    max-width: 60%;
    max-height: 100%;
    display: block;
    margin: auto;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 2px;
}

textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom:1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    font-family: inherit;
    font-size: 1.1rem;
}

textarea:hover {
    border-right: 5px solid #9b59b6;
}

.container {
    flex: 1;
}

/* Navbar */
.nav {
    position: sticky;
    top: 0;
    z-index: 100;
    padding: 1rem;
    background-color: black;
    color: #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-items: flex-start;
}

.nav a {
    margin-left: 1rem;
    transition: color 1s ease;
    color: #9b59b6;
    font-weight: bold;
    text-decoration: none;
    font-size: 1.2rem;
}

.nav a:hover {
    color: #00ea5a;
    text-decoration: underline;
    transition: color 0.3 ease;
}

.nav-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #9b59b6;
    cursor: pointer;
    margin-left: 1rem;
}

/* Form */
.form-wrapper {
    background: #fff;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 0 4 px 6 px rgba(0, 0, 0, 0.1);
}

.form-wrapper h2 {
    margin-bottom: 1.5rem;
    color: black;
    text-align: center;
}

.form-wrapper input {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-wrapper button {
    width: 100%;
    padding: 0.75rem;
    background-color: #9b59b6;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-wrapper button:hover {
    color: black;
    background-color: #00ea5a;
}

/* Alerts */
.alert {
    position: relative;
    padding: 1rem 2rem 1rem 1rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    font-weight: bold;
    color: white;
    background-color: grey;
}

.alert.success {
    background-color: #2ecc71;
}

.alert.error{
    background-color: #e74c4c;
}

.alert.info {
    background-color: #3498db;
}

.alert .close-btn {
    position: absolute;
    top: 5px;
    right: 15px;
    background: none;
    border: none;
    color: black;
    font-size: 2rem;
    cursor: pointer;
}

/* Notes */
.notes-wrapper {
    margin: 0.5rem auto;
}

.notes-list {
    margin-top:1rem;
}

.note {
    position: relative;
    background-color: black;
    color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    border-left: 5px solid #9b59b6;
    border-radius: 5px;
}

.leaf-note {
    position: relative;
    background-color: black;
    color: white;
    padding: 1rem;
    margin-bottom: 1rem;
    border-left: 5px solid #9b59b6;
    border-radius: 5px;
    transition: color 0.3s ease;
}

.leaf-note:hover {
    color: #9b59b6;
    cursor: pointer;
}

.sub-btn {
    width: 100%;
    padding: 0.75rem;
    background-color: #9b59b6;
    color: #00ffff;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 1s ease;
}

.sub-btn:hover {
    color: black;
    background-color: #00ea5a;
    text-decoration: underline;
    transition: background-color 1s ease;
}

.delete-btn {
    position: absolute;
    top: 0px;
    right: 15px;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color 0.3s ease;
}
.delete-btn:hover {
    color: red;
}

.deletable {
    cursor: pointer;
    transition: color 0.3s ease;
}

.deletable:hover {
    color:grey;
}

.phrase {
    display:flex;
    width: 100%;
    margin-top: 0.5rem;
    padding: 0.5rem;
    border: 2px solid #9b59b6;;
    border-radius: 5px;
}

.phrase:hover {
    border-right: 5px solid #9b59b6;
}

/* Adjusting navbar for mobile... */
@media (max-width:800px) {
    p {
        color: white;
        max-width: 100%;
        margin: auto;
        padding: 0.5rem;
    }

    img {
        max-width: 100%;
    }

    /* navbar toggle button */
    .nav-toggle {
        display: block;
    }

    .nav-left {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: black;
        padding-top: 1rem;
    }

    .nav-links a {
        padding: 0.5rem 1rem;
        border-top: 1px solid #333;
    }

    .nav-links.nav-open {
        display:flex;
    }
}
